
  body{
   font-family: "Montserrat-Bold", sans-serif;
  }

  #title {

    background-color: #588c7e;
    color: #fff;
  }

  .container-fluid{
    padding: 2% 15%;
  }

.navbar {
padding: 0 0 5rem;
}

.navbar-brand {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2 rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2 rem;
  font-family: "Montserrat-Light";
  font-weight: bold;
}

h1{
    font-family: "Montserrat-Black", sans-serif;
    font-size: 4rem;
    line-height: 1.5;
  }

h2{
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
      font-family: "Montserrat-Bold", sans-serif;
      font-size: 1.5rem;
      line-height: 1.5;
    }

h4{
      font-family: "Montserrat-Bold", sans-serif;
      font-size: 2rem;
    }

h6{
          font-family: "Montserrat-Bold", sans-serif;
          font-size: 2rem;
          line-height: 3.5rem;
          margin-top: 1.2rem;
          margin-bottom: 1.2rem;
    }


p{
  font-color: #8f8f8f;
}

p2{
  font-color: #8f8f8f;
  line-height: 2rem;
}
/* downloading-button  CSS function self defined*/
.downloading-button{
  margin: 5% 3% 5% 0%;
}

.image-pict{
    transform: rotate(0deg);
    width: 100%;
}

}
/* feature section  */
#features{
  padding: 7% 10%;
}
.feature-box{
  text-align: center;
  padding: 5%;
}

.icon-fa{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon-fa:hover{
  color: #ff4c68;
}
/* Testimonial sections */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color:  #ef8172;
  text-align: center;
  padding-bottom: 3%;
  color: #fff;
}

.press-logo{
  width: 15%;
  margin: 20px 30px 50px;
}

.carousel-item{
  padding: 7% 15%;
}

#AboutMe{
  text-align: center;
  padding: 100px;
  padding: 5%;
}

.image-pict2{
    transform: rotate(0deg);
    margin-top: 1rem;
    width: 25%;
}
.image-pict3{
    transform: rotate(0deg);
    margin-top: 1rem;
    width: 40%;
}
 #cta{
   padding: 5% 15%;
   text-align: center;
   background-color: #588c7e;
   color: #fff;
 }
 #footer{
   text-align: center;
   background-color: #588c7e;
 }
